{% load static %}  
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>بوابة القبول للجامعات السودانية</title>
        <link rel="stylesheet" href="{% static 'Css/main.css' %}">
 <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <header class="header">
        <div class="container">
  <div class="logo">
                <h1>وزارة التعليم العالي والبحث العلمي</h1>
                <p>بوابة القبول الجامعي - الجامعات السودانية</p>
            </div>
              <nav class="nav">
                <a href="{% url 'home' %}" class="active">الرئيسية</a>
                <a href="{% url 'addmission' %}" >التسجيل</a>
                <a href="{% url 'daleel' %}" >الدليل الإلكتروني</a>
                <a href="{% url 'Result' %}">النتائج</a>
                
            </nav>
        </div>
    </header>

    <main class="main">
        <section class="hero">
            <div class="container">
                <h2>مرحباً بك في بوابة القبول الإلكترونية</h2>

            </div>
        </section>

        <section class="services">
            <div class="container">
                <div class="service-grid">
                    <div class="service-card">
                        <div class="icon"></div>
                        <h3>التسجيل والتقديم</h3>
                        <p>سجل بياناتك وقدم للجامعات </p>
                        <a href="{% url 'addmission' %}" class="btn btn-primary">سجل الآن</a>
                    </div>

                    <div class="service-card">
                        <div class="icon"></div>
                        <h3>الدليل الإلكتروني</h3>
                        <p>تصفح الجامعات والتخصصات </p>
                        <a href="{% url 'daleel' %}" class="btn btn-primary">تصفح الدليل</a>
                    </div>

                    <div class="service-card">
                        <div class="icon"></div>
                        <h3>نتائج القبول</h3>
                        <p>تحقق من نتيجة قبولك</p>
                        <a href="{% url 'Result' %}"class="btn btn-primary">استعلم الآن</a>
                    </div>

                
  <!--  <div class="icon"></div>
                        <h3>لوحة التحكم</h3>
                        <p>للمشرفين فقط</p>
                        <a href="admin.html" class="btn btn-secondary">دخول</a>
                    </div>
                </div> --> 
            </div>
        </section>

     
    </main>


    <footer>
        <p>جميع الحقوق محفوظة لوزارة التعليم العالي والبحث العلمي &copy; {% now "Y" %}</p>
    </footer>
   
</body>
</html>